.header {
    .header__nav {
      ul {
        
        padding: 33px 0 0 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        a {
        
            text-decoration: none;
            font-size: 18px;
            line-height: 22px;
            color: #828282;
            &:hover {
                color: #000000;
            }
        }
      }  
    }
    .divider {
        margin-top: 32px;
        width: 940px;
        height: 1px;
        background-color: #000000;
    }
}